@font-face {
	font-family: 'Oswald-Regular';
	src: url('../fonts/Oswald-Regular.eot');
	src: url('../fonts/Oswald-Regular.eot#iefix') format('embedded-opentype'),
		url('../fonts/Oswald-Regular.woff') format('woff'),
		url('../fonts/Oswald-Regular.woff2') format('woff2'),
		url('../fonts/Oswald-Regular.ttf') format('truetype'),
		url('../fonts/Oswald-Regular.svg#webfont34M5alKg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Oswald-Light';
	src: url('../fonts/Oswald-Light.eot');
	src: url('../fonts/Oswald-Light.eot#iefix') format('embedded-opentype'),
		url('../fonts/Oswald-Light.woff') format('woff'),
		url('../fonts/Oswald-Light.woff2') format('woff2'),
		url('../fonts/Oswald-Light.ttf') format('truetype'),
		url('../fonts/Oswald-Light.svg#webfont34M5alKg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'digital';
	src: url("../fonts/digital.ttf");
}

:root {
	--text-color: rgba(255, 255, 255, 0.95);
	--text-inactive: rgba(193, 193, 193, 0.5);

	--speed-digit-active: rgba(255, 255, 255, 0.95);
	--speed-digit-inactive: rgba(193, 193, 193, 0.5);

	--gear-normal: rgb(0, 255, 114, 0.95);
	--gear-overload: rgb(255, 0, 0, 0.95);
	--gear-reverse: rgba(255, 255, 255, 0.95);

	--rpm-background: rgba(193, 193, 193, 0.5);
	--rpm-fill: rgba(255, 255, 255, 0.85);
}

.hidden {
	visibility: hidden !important;
	opacity: 0 !important;
}

.inactive {
	color: var(--text-inactive);
}

#displayRoot {
	width: 100%;
	position: fixed;
	bottom: 32px;
	color: var(--text-color);
	font-size: 28px;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
	filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.3));
	visibility: visible;
	opacity: 1;
	transition: opacity 0.3s, visibility 0.3s;
}

#gearDisplay {
	position: absolute;
	left: 0px;
	bottom: -3px;
	color: var(--gear-normal);
	font-family: 'digital';
}
#gearDisplay.rpmOverload {
	color: var(--gear-overload);
	border-color: var(--gear-overload);
}
#gearDisplay.reverseGear {
	color: var(--gear-reverse);
}
#gearDisplay.normalRpm {
	color: var(--gear-normal);
}

#speedDisplay {
	position: absolute;
	font-size: 100px;
	bottom: 16px;
	font-weight: 100;
	font-family: 'digital';
}
#speedDisplay>span {
	position: absolute;
	bottom: 0px;
}
#speedDisplay>span:nth-child(1) {
	left: 0;
}
#speedDisplay>span:nth-child(2) {
	left: 60px;
}
#speedDisplay>span:nth-child(3) {
	left: 120px;
}
/* This turns empty speed segments into grey 0's automatically */
#speedDisplay>span:empty::after {
	color: var(--speed-digit-inactive);
	content: "0";
}

#unitDisplay {
	position: absolute;
	left: 125px;
	bottom: -3px;
	font-family: 'digital';
}

#absContainer {
	position: absolute;
	left: 180px;
	bottom: 31px;
	font-family: 'digital';
}

#hBrakeContainer {
	position: absolute;
	left: 180px;
	bottom: 70px;
	font-family: 'digital';
}

#rpmBarBg {
	width: 225px;
	height: 4px;
	background: var(--rpm-background);
	position: absolute;
	bottom: -14px;
}
#rpmBar {
	width: 0%;
	height: 100%;
	background: var(--rpm-fill);
}